@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Home/Privacy?Message=Hello+World">Privacy something</a>
</div>


<form action="/Home/ReturnNumber">
    <p>
        <input type="number" name="InputNumber" />
        <button type="submit">Click me</button>
</p>
</form>
